{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react",
  ],
  "env": {
    "test": {
        "presets": [
          [
            "env",
            {
              "modules": "commonjs",
            }
          ], "react"],
        "plugins": [
          "transform-decorators-legacy",
          "syntax-dynamic-import",
          "transform-object-rest-spread",
          [
            "transform-class-properties",
            {
              "spec": false
            }
          ]
        ]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": false
      }
    ]
  ]
}
