<article class="task-element">
    <div class="detail due-date">
        <span>Due Date:</span> {{task.due_date}}
    </div>
    <div class="detail priority">
        <span>Priority</span> {{task.priority}}
    </div>
    <div class="detail completion-time">
        <span>Estimated Time to Complete</span> {{task.completion_time}}
    </div>
</article>
